body {
  min-height: 100vh;
  margin: 0;
  font-family: 'Bangers', cursive;
  background: -webkit-linear-gradient(-45deg,  #a4036f 0%,#4d47c7 24%,#048ba8 39%,#16db93 50%,#efea5a 69%,#f29e4c 83%,#eb4747 100%); /* Chrome10-25,Safari5.1-6 */
}

.App {
  width: 80%;
  margin: auto;
  background-color: white;
  min-height: 100vh;
}

h1{
  font-size: 40px;
  margin: 45px;
  text-transform: uppercase;
}

h2{
  margin-bottom: 30px;
  margin-top: 5px;
  font-weight: lighter;
}

h3 {
  margin: 0;
  font-weight: lighter;
  font-size: 15px;
}

button {
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 #000000;
  cursor: pointer;
  background-color: #3d51b4;
  font-size: 15px;
  color: white;
  text-transform: uppercase;
  font-family: 'Bangers', cursive;
}

/*Style for Questions.jsx*/
.question{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: auto;
}

#answers{
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  grid-template-areas: 
  "answer1 answer2"
  "answer3 answer4";
}

.answer1, .answer2, .answer3, .answer4{
  margin: 10px;
  padding: 40px;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 0 0 10px 0 #5a5a5a;
  cursor: pointer;
  font-size: 20px;
}


.answer1{
  grid-area: answer1;
  background-color: #b33087;
}

.answer2{
grid-area: answer2;
background-color: #048BA8;
}

.answer3{
grid-area: answer3;
background-color: #EFEA5A;
}

.answer4{
grid-area: answer4;
background-color: #F29E4C;
}

.score{
  display: flex;
  font-size: 15px;
  margin: 30px 0 10px 0;
}

.score > p {
  padding-right: 3px;
}

.question button{
  width: 100%;
}

button:hover {
  box-shadow: none;
}

.correct-answer {
  box-shadow: none;
  background-color: #16DB93;
  font-weight: bold;
}

.incorrect-answer {
  box-shadow: none;
  background-color: #EB4747;
  font-weight: bold;
}

.theAnswer{
  color: #15663b;
  font-weight: bold;
}

/*Style for Score.jsx*/

#score {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  min-height: 100vh;
  padding: 40px;
  background-color: initial;
}

#score button{
  width: 100%;
}

/*Style for Menu.jsx*/
#menu {
  width: 100%;
  padding: 40px 0;
}

#menu, #menu > div, label {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

label {
  margin: 20px 0 5px 0;
  font-weight: lighter;
  font-size: 15px;
}

input, select {
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  box-sizing: border-box;
  border: 1px solid black;
}

select {
  cursor: pointer;
}

#selectCategory {
  background-color: #b33087;
}

#selectNoQ {
  background-color: #EFEA5A;
}

#selectDifficulty{
  background-color: #048BA8;
}

#menu button {
  width: 30%;
  margin: 60px;
}

/*Style for Scoreboard*/

#scoreboard{
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#scoreboard div {
  width: 100%;
}

#scoreboard h1 {
  text-align: center;
  margin: 20px;

}

table {
  width: 80%;
  margin-bottom: 40px;
  border-collapse: collapse;
  border: 1px solid black;
  box-shadow: 0 0 10px 0 #5a5a5a;
}

td, th {
  text-align: center;
  padding: 7px;
  margin: 0;
  border-bottom: solid black 1px;
}

td:nth-child(1), th:nth-child(1)
{
  background-color:#b33087;
}

td:nth-child(2), th:nth-child(2)
{
  background-color:#048BA8;
}

td:nth-child(3), th:nth-child(3)
{
  background-color:#EFEA5A;
}

td:nth-child(4), th:nth-child(4)
{
  background-color:#F29E4C;
}

@media screen and (max-width: 500px) {
  h1, h2 {
    text-align: center;
  }

  .App {
    width: 100%;
  }

  table {
    width: 90%;
  }

  td, th {
    padding: 3px;
  }

  input, select, #menu button {
    width: 90%;
  }

  #question, .question {
    width: 95%;
  }

  #answers div {
    padding: 20px;
  }
}
